* {
	margin: 0;
	padding: 0;
}
/*加载动画开始*/
#loading{
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 9999999999;
	margin-top: 0px;
	top: 0px;
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 150px;
	width: 150px;
	margin-top: -75px;
	margin-left: -75px;
}
.object{
	width: 20px;
	height: 20px;
	background-color: #2F3F56;
	float: left;
	margin-right: 20px;
	margin-top: 65px;
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
}

#object_one {
	-webkit-animation: object_one 1.0s infinite;
	animation: object_one 1.0s infinite;
}
#object_two {
	-webkit-animation: object_two 1.0s infinite;
	animation: object_two 1.0s infinite;
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
}
#object_three {
	-webkit-animation: object_three 1.0s infinite;
	animation: object_three 1.0s infinite;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;

}

@-webkit-keyframes object_one {
	75% { -webkit-transform: scale(0); }
}

@keyframes object_one {

	75% {
		transform: scale(0);
		-webkit-transform: scale(0);
	}

}

@-webkit-keyframes object_two {


	75% { -webkit-transform: scale(0); }


}

@keyframes object_two {
	75% {
		transform: scale(0);
		-webkit-transform:  scale(0);
	}

}

@-webkit-keyframes object_three {

	75% { -webkit-transform: scale(0); }

}

@keyframes object_three {

	75% {
		transform: scale(0);
		-webkit-transform: scale(0);
	}

}
/*加载动画结束*/
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type="number"] {
	-moz-appearance: textfield;
}

body, html {
	height: 100%;
	background: #E2E2E2;
	min-width: 900px;
	font: 16px "微软雅黑", "宋体", "Arial Narrow", HELVETICA;
	-webkit-text-size-adjust: 100%;
}
/*解决vue页面刷新变量闪烁问题
    在html页面内绑定的el处添加  v-cloak
    在此处添加如下css样式
    [v-cloak] {
    display: none !important;
}
*/
[v-cloak] {
	display: none !important;
}

body, ul {
	margin: 0;
	padding: 0
}

/*通用样式：layui-body内白色容器样式*/
.padding15-panel {
	padding: 15px;
}

.content-panel {
	background: white;
	border-radius: 10px;
	box-shadow: 0px 0px 15px #343b4a;
	padding: 15px;
}
/*通用样式结束*/
li {
	list-style: none
}

a {
	text-decoration: none;
}

#top {
	width: 100%;
	min-height: 80px;
	background: #324052;
}

#top .MaterialInfo-panel {
	width: 410px;
	min-height: 80px;
	float: right;
}

#top .MaterialInfo-panel .Sysmsg-panel {
	width: 80px;
	min-height: 80px;
	float: left;
	cursor: pointer;
}

#top .MaterialInfo-panel .Sysmsg-panel .ico-panel {
	width: 30px;
	height: 30px;
	margin-top: 25px;
	float: left;
	text-align: center;
	margin-left: 15px;
}

#top .MaterialInfo-panel .Sysmsg-panel .num-panel {
	width: 25px;
	height: 25px;
	background: #E8561F;
	float: left;
	text-align: center;
	color: white;
	margin-top: 15px;
	border-radius: 5px;
}

#top .MaterialInfo-panel .Sysmsg-panel .num-panel span {
	line-height: 25px;
}
/*系统消息模块鼠标移入*/
#top .MaterialInfo-panel .Sysmsg-panel:hover {
	background: #394C5B;
}

#top .MaterialInfo-panel .SysUseHelp-panel {
	width: 160px;
	min-height: 80px;
	float: left;
	cursor: pointer;
	text-align: center;
	color: white;
}

#top .MaterialInfo-panel .SysUseHelp-panel span {
	line-height: 80px;
	font-size: 16px;
}
/*系统使用帮助鼠标移入*/
#top .MaterialInfo-panel .SysUseHelp-panel:hover {
	background: #394C5B;
}

#top .MaterialInfo-panel .userInfo-panel {
	width: 140px;
	min-height: 80px;
	float: left;
	cursor: pointer;
}

#top .MaterialInfo-panel .userInfo-panel .avatar-panel {
	width: 50px;
	height: 50px;
	margin-top: 15px;
	border-radius: 50%;
	float: left;
	overflow: hidden;
}

#top .MaterialInfo-panel .userInfo-panel .avatar-panel img {
	width: 100%;
	height: 100%;
}

#top .MaterialInfo-panel .userInfo-panel .nickName-panel {
	width: 80px;
	height: 50px;
	float: left;
	margin-top: 15px;
	text-align: center;
	color: white;
}

#top .MaterialInfo-panel .userInfo-panel .nickName-panel span {
	font-size: 16px;
	line-height: 50px;
}
/*头像模块鼠标移入样式*/
#top .MaterialInfo-panel .userInfo-panel:hover {
	background: #394C5B;
}

/*logo区域*/
#top .logoInfo-panel {
	width: 480px;
	height: 80px;
	float: left;
	overflow: hidden;
}
/*轮播公告区域*/
#top .notice-panel {
	width: 710px;
	height: 80px;
	float: left;
	/*margin-top: 10px;*/
}

#top .notice-panel .Transparent-panel {
	
}

#top .notice-panel .Transparent-panel img {
	width: 100%;
	height: 100%;
}

#top .logoInfo-panel img {
	width: 100%;
	height: 100%;
}

#top .logoInfo-panel .logo-panel {
	width: 80px;
	height: 80px;
	float: left;
}

#top .logoInfo-panel .text-panel {
	min-width: 380px;
	height: 60px;
	float: left;
	text-align: center;
	margin-top: 10px;
}

#top .logoInfo-panel .text-panel span {
	font-size: 28px;
	font-weight: 700;
	color: white;
	line-height: 60px;
}

/*资料修改悬浮层*/
#SysmsgSubmenu .row-panel {
	width: 90%;
	height: 40px;
	margin: 20px auto;
}

#SysmsgSubmenu .row-panel .text-panel {
	width: 30%;
	height: 40px;
	background: #F2F2F2;
	text-align: center;
	float: left;
}

#SysmsgSubmenu .row-panel .text-panel span {
	line-height: 40px;
	font-size: 16px;
}

#SysmsgSubmenu .row-panel .input-panel {
	width: 30%;
	height: 40px;
	float: left;
	margin-left: 3%;
	text-align: center;
}

#SysmsgSubmenu .row-panel .input-panel span {
	font-size: 16px;
	line-height: 40px;
	font-weight: 700;
}

#SysmsgSubmenu .row-panel .btn-panel {
	height: 35px;
	float: left;
}

#SysmsgSubmenu .infoEdit-panel {
	width: 20%;
	height: 40px;
	margin: 0 auto;
}

/*左侧导航栏*/

/* nav */
.nav {
	width: 200px;
	height: 100%;
	background: #324052;
	transition: all .3s;
}
/*左边nav a标签颜色*/
.nav a {
	display: block;
	overflow: hidden;
	padding-left: 20px;
	font-size: 18px;
	line-height: 80px;
	max-height: 80px;
	color: white;
	transition: all .3s;
}
/*左边nav鼠标移入背景色*/
.nav-show, .nav-item>a:hover {
	color: white;
	background: #f07810;
}
/*每一个nav点开后ul背景色*/
.nav-item ul {
	display: none;
	background: #393E46;
}
/*nav展开后鼠标移入每一条颜色*/
.nav-item li:hover a {
	color: #FFF;
	background: #fd5f00;
}
/*nav 迷你鼠标移入背景色*/
.nav-mini.nav .nav-item:hover {
	background: #fd5f00;
}
/*鼠标悬浮左边蓝色光标高度*/
.nav-item>a:before {
	content: "";
	position: absolute;
	left: 0;
	width: 2px;
	height: 80px;
	background: #34A0CE;
	opacity: 0;
	transition: all .3s;
}

.nav a span {
	margin-left: 30px;
}

.nav-item {
	position: relative;
}

.nav-item.nav-show {
	border-bottom: none;
}

.nav-item.nav-show ul {
	display: block;
}

.nav .nav-icon {
	font-size: 20px;
	position: absolute;
	margin-left: -1px;
}
/*---------------------*/
.nav-more {
	float: right;
	margin-right: 20px;
	font-size: 16px;
	transition: transform .3s;
}
/*---------------------*/
.nav-show .nav-more {
	transform: rotate(90deg);
}

.nav-show>a:before, .nav-item>a:hover:before {
	opacity: 1;
}

/* nav-mini */
.nav-mini.nav {
	width: 60px;
}

.nav-mini.nav .nav-icon { /* margin-left:-2px; */
	
}

.nav-mini.nav .nav-item>a span {
	display: none;
}

.nav-mini.nav .nav-more {
	margin-right: -20px;
}

.nav-mini.nav .nav-item ul {
	position: absolute;
	top: 0px;
	left: 60px;
	width: 180px;
	z-index: 99;
	background: #3C474C;
}

.nav-mini.nav .nav-item:hover .nav-item a {
	color: #FFF;
}

.nav-mini.nav .nav-item:hover a:before {
	opacity: 1;
}

.nav-mini.nav .nav-item:hover ul {
	display: block;
}

/*主内容模块*/
.card-panel {
	height: 200px;
	background: black;
	border: solid 1px white;
	position: relative;
}

.cardContent-panel {
	width: 80%;
	min-height: 160px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.cardContent-panel .title-panel {
	width: 100%;
	min-height: 40px;
	margin: 25px auto;
	text-align: center;
}

.cardContent-panel .title-panel span {
	line-height: 40px;
	color: white;
	font-size: 25px;
	font-weight: 600;
}

.cardContent-panel .price-panel {
	width: 100%;
	min-height: 40px;
	text-align: center;
}

.cardContent-panel .price-panel span {
	line-height: 40px;
	color: white;
	font-size: 23px;
}

.title-toolbar {
	height: 40px;
	position: relative;
}

.title-toolbar .elem-panel {
	width: 630px;
	height: 40px;
	position: absolute;
	right: 0px;
}

.title-toolbar .elem-panel .input-panel {
	width: 230px;
	height: 40px;
	float: left;
}

.title-toolbar .elem-panel .input-panel input {
	cursor: pointer;
	height: 40px;
}

.title-toolbar .elem-panel .btn-panel {
	width: 80px;
	height: 40px;
	float: left;
	margin-left: 5px;
}

.title-toolbar .elem-panel .btn-panel button {
	height: 40px;
}

.title-toolbar .elem-panel .text-panel {
	width: 40px;
	height: 40px;
	text-align: center;
	float: left;
}

.title-toolbar .elem-panel .text-panel span {
	line-height: 40px;
	font-weight: 600;
}

#orderManagement-panel .title-panel {
	height: 40px;
}

#orderManagement-panel .title-panel span {
	color: orangered;
	line-height: 40px;
	font-size: 18px;
}

#orderManagement-panel .item-panel {
	height: 40px;
}

.pointerStyle {
	cursor: pointer;
}

#orderInformationDataList {
	min-height: 40px;
	margin-top: 15px;
	border: solid 1px white;
}

#orderInformationDataList .title-BtnPanel {
	width: 100%;
	height: 40px;
	position: relative;
}

#orderInformationDataList .title-BtnPanel .btn-panel {
	width: 555px;
	height: 40px;
	position: absolute;
	right: 0px;
}

#orderInformationDataList .ListDataTable-panel {
	min-height: 130px;
}
/*进货管理*/
#IncomingGoods-panel .title-panel {
	min-height: 40px;
}

#IncomingGoods-panel .title-panel span {
	color: orangered;
	line-height: 40px;
	font-size: 18px;
}

#IncomingGoods-panel .topBtn-panel {
	height: 40px;
	position: relative;
}

#IncomingGoods-panel .topBtn-panel .btn-panel {
	position: absolute;
	min-width: 120px;
	height: 40px;
	right: 0;
}

#IncomingGoods-panel .OriginaFlilmListTable-panel {
	min-height: 270px;
	margin-top: 10px;
}
/*出货管理*/
#shipment-panel .title-panel {
	min-height: 40px;
}

#shipment-panel .title-panel span {
	color: orangered;
	line-height: 40px;
	font-size: 18px;
}

#shipment-panel .btnCondition-panel {
	width: 750px;
	height: 40px;
}
/*日期查询*/
#shipment-panel .btnCondition-panel .dateQuery-panel {
	width: 320px;
	height: 40px;
	float: left;
}
/*产品名称查询*/
#shipment-panel .btnCondition-panel .ProductNameCheck-panel {
	width: 320px;
	height: 40px;
	float: left;
}

#shipment-panel .btnCondition-panel .btn-panel {
	width: 80px;
	height: 40px;
	float: left;
	margin-left: 10px;
}

#shipment-panel .tableTopBtn-panel {
	min-height: 40px;
	margin-top: 10px;
	position: relative;
}

#shipment-panel .tableTopBtn-panel .btn-panel {
	min-width: 120px;
	height: 40px;
	position: absolute;
	right: 35px;
}

#shipment-panel .originalFilmOutList-panel {
	min-height: 270px;
}

#shipment-panel .originalFilmOutList2-panel {
	min-height: 210px;
}
/*库存管理*/
#stock-panel .title-panel {
	min-height: 40px;
}

#stock-panel .title-panel span {
	color: orangered;
	line-height: 40px;
	font-size: 18px;
}

#stock-panel .tableTopBtn-panel {
	position: relative;
	min-height: 40px;
}

#stock-panel .tableTopBtn-panel .btn-panel {
	position: absolute;
	right: 0;
}

#stock-panel .originalFilmOutList-panel {
	min-height: 270px;
}
/*订单月结管理*/
#OrderMonth-panel .title-panel {
	min-height: 40px;
}

#OrderMonth-panel .title-panel span {
	color: orangered;
	line-height: 40px;
	font-size: 18px;
}

#OrderMonth-panel .onlyNumber-panel {
	position: relative;
}

#OrderMonth-panel .onlyNumber-panel .condition-panel {
	width: 430px;
	height: 40px;
}

#OrderMonth-panel .onlyNumber-panel .condition-panel .text-panel {
	width: 340px;
	height: 40px;
	float: left;
}

#OrderMonth-panel .onlyNumber-panel .condition-panel .btn-panel {
	width: 80px;
	height: 40px;
	margin-left: 10px;
	float: left;
}

#OrderMonth-panel .OrderMonthListBtn-panel {
	min-height: 40px;
	position: relative;
}

#OrderMonth-panel .OrderMonthListBtn-panel .btn-panel {
	min-width: 140px;
	height: 40px;
	position: absolute;
	right: 0;
}

#OrderMonth-panel .OrderMonthList-panel {
	min-height: 270px;
}
/*客户信息管理*/
#CustomerInfo-panel .title-panel {
	min-height: 40px;
}

#CustomerInfo-panel .title-panel span {
	color: orangered;
	line-height: 40px;
	font-size: 18px;
}

#CustomerInfo-panel .btnParent-panel {
	min-height: 40px;
	position: relative;
}

#CustomerInfo-panel .btnParent-panel .btn-panel {
	min-width: 210px;
	height: 40px;
	position: absolute;
	right: 0;
}

#CustomerInfo-panel .CustomerInfoList-panel {
	min-height: 270px;
}
/*收入管理*/
#revenueInfo-panel .title-panel {
	min-height: 40px;
}

#revenueInfo-panel .title-panel span {
	color: orangered;
	line-height: 40px;
	font-size: 18px;
}

#revenueInfo-panel .btnParent-panel {
	min-height: 40px;
	position: relative;
}

#revenueInfo-panel .btnParent-panel .btn-panel {
	min-width: 140px;
	min-height: 40px;
	position: absolute;
	right: 0;
}

#revenueInfo-panel .revenueInfoList-panel {
	min-height: 270px;
}
/*支出管理*/
#expenditureInfo-panel .title-panel {
	min-height: 40px;
}

#expenditureInfo-panel .title-panel span {
	color: orangered;
	line-height: 40px;
	font-size: 18px;
}

#expenditureInfo-panel .btnParent-panel {
	min-height: 40px;
	position: relative;
}

#expenditureInfo-panel .btnParent-panel .btn-panel {
	min-width: 140px;
	min-height: 40px;
	position: absolute;
	right: 0;
}

#expenditureInfo-panel .revenueInfoList-panel {
	min-height: 270px;
}
/*客户对账*/
#customerReconciliation-panel .title-panel {
	min-height: 40px;
}

#customerReconciliation-panel .title-panel span {
	color: orangered;
	line-height: 40px;
	font-size: 18px;
}

#customerReconciliation-panel .lump-panel {
	height: 330px;
	position: relative;
	cursor: pointer;
}

#customerReconciliation-panel .lump-panel img {
	width: 100%;
	height: 100%;
}
/*黑色遮罩*/
#customerReconciliation-panel .lump-panel .BlackSuspensionLayer {
	width: 100%;
	height: 330px;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
}

#customerReconciliation-panel .lump-panel .BlackSuspensionLayer span {
	font-size: 30px;
	color: white;
	line-height: 330px;
}

#customerReconciliation-panel .btnParent-panel {
	min-height: 40px;
	position: relative;
}

#customerReconciliation-panel .btnParent-panel .btn-panel {
	width: 410px;
	min-height: 40px;
	float: left;
}

#customerReconciliation-panel .btnParent-panel .queryBtn-panel {
	width: 80px;
	height: 40px;
	margin-left: 10px;
	float: left;
}

#customerReconciliation-panel .customerReconciliationList-panel {
	min-height: 270px;
	float: left;
}
/*考勤管理*/
#AttendanceInfo-panel .title-panel {
	min-height: 40px;
}

#AttendanceInfo-panel .title-panel span {
	color: orangered;
	line-height: 40px;
	font-size: 18px;
}

#AttendanceInfo-panel .ConditionalScreening-panel {
	min-height: 40px;
}

#AttendanceInfo-panel .AttendanceInfoList-panel {
	min-height: 270px;
}
/*工资发放*/
#salaryGiving-panel .title-panel {
	min-height: 40px;
}

#salaryGiving-panel .title-panel span {
	color: orangered;
	line-height: 40px;
	font-size: 18px;
}

#salaryGiving-panel .ConditionalScreening-panel {
	min-height: 40px;
}

#salaryGiving-panel .salaryGivingList-panel {
	min-height: 270px;
}
/*员工信息*/
#employeeInfo-panel .title-panel {
	min-height: 40px;
}

#employeeInfo-panel .title-panel span {
	color: orangered;
	line-height: 40px;
	font-size: 18px;
}

#employeeInfo-panel .ConditionalScreening-panel {
	min-height: 40px;
}

#employeeInfo-panel .employeeInfoList-panel {
	min-height: 270px;
}
/*原片信息*/
#OriginalInfo-panel .title-panel {
	min-height: 40px;
}

#OriginalInfo-panel .title-panel span {
	color: orangered;
	line-height: 40px;
	font-size: 18px;
}

#OriginalInfo-panel .ConditionalScreening-panel {
	min-height: 40px;
}

#OriginalInfo-panel .btnParent-panel {
	min-height: 40px;
	position: relative;
}

#OriginalInfo-panel .btnParent-panel .btn-panel {
	min-width: 240px;
	height: 40px;
	position: absolute;
	right: 0;
}

#OriginalInfo-panel .OriginalInfo-panel {
	min-height: 270px;
}
/*附件信息*/
#AttachmentInfo-panel .title-panel {
	min-height: 40px;
}

#AttachmentInfo-panel .title-panel span {
	color: orangered;
	line-height: 40px;
	font-size: 18px;
}

#AttachmentInfo-panel .ConditionalScreening-panel {
	min-height: 40px;
}

#AttachmentInfo-panel .btnParent-panel {
	min-height: 40px;
	position: relative;
}

#AttachmentInfo-panel .btnParent-panel .btn-panel {
	min-width: 240px;
	height: 40px;
	position: absolute;
	right: 0;
}

#AttachmentInfo-panel .AttachmentInfo-panel {
	min-height: 270px;
}
/*供应商信息*/
#SupplierInfo-panel .title-panel {
    min-height: 40px;
}

#SupplierInfo-panel .title-panel span {
    color: orangered;
    line-height: 40px;
    font-size: 18px;
}

#SupplierInfo-panel .ConditionalScreening-panel {
    min-height: 40px;
}

#SupplierInfo-panel .btnParent-panel {
    min-height: 40px;
    position: relative;
}

#SupplierInfo-panel .btnParent-panel .btn-panel {
    min-width: 240px;
    height: 40px;
    position: absolute;
    right: 0;
}

#SupplierInfo-panel .AttachmentInfo-panel {
    min-height: 270px;
}
/*供应商信息[新增]悬浮层样式*/
#addSupplierSubmenu{
    display: none;
}
#addSupplierSubmenu .contentArea{
    width: 98%;
    height: 370px;
    margin: 10px auto 0;
}
#addSupplierSubmenu .contentArea .imageRow-panel{
    width: 100%;
    height: 140px;
}
#addSupplierSubmenu .contentArea .row-panel{
    width: 100%;
    height: 40px;
    margin-top: 10px;
}
#addSupplierSubmenu .contentArea .row-panel .item-panel{
    width: 50%;
    height: 40px;
    float: left;
}
#addSupplierSubmenu .contentArea .row-panel .item-panel .left-panel{
    width: 30%;
    height: 40px;
    float: left;
    text-align: center;
}
#addSupplierSubmenu .contentArea .row-panel .item-panel .left-panel span{
    line-height: 40px;
}
#addSupplierSubmenu .contentArea .row-panel .item-panel .right-panel{
    width: 70%;
    height: 40px;
    float: left;
}
/*银行卡独立样式*/
#addSupplierSubmenu .contentArea .row-panel .bankNmae-panel{
    width: 15%;
    height: 40px;
    float: left;
    text-align: center;
}
#addSupplierSubmenu .contentArea .row-panel .bankNmae-panel span{
    line-height: 40px;
}
#addSupplierSubmenu .contentArea .row-panel .bankVal-panel{
    width: 35%;
    height: 40px;
    float: left;
}
#addSupplierSubmenu .contentArea .row-panel .bankTip-panel{
    width: 25%;
    height: 40px;
    float: left;
    text-align: center;
}
#addSupplierSubmenu .contentArea .row-panel .bankTip-panel span{
    line-height: 40px;
    color: #5FB878;
    font-weight: 600;
}
/*银行卡独立样式结束*/
#addSupplierSubmenu .contentArea .imageRow-panel .img-panel{
    width: 120px;
    height: 120px;
    margin: 10px auto 0;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
#addSupplierSubmenu .contentArea .imageRow-panel .img-panel .blackMask{
    width: 120px;
    height: 120px;
    position: absolute;
    background: rgba(0,0,0,0.7);
    top: 0px;
    left: 0px;
    text-align: center;
}
#addSupplierSubmenu .contentArea .imageRow-panel .img-panel .blackMask span{
    line-height: 120px;
    color: white;
    font-weight: 500;
}
#addSupplierSubmenu .contentArea .imageRow-panel .img-panel img{
    width: 120px;
    height: 120px;
}

#addSupplierSubmenu .btnArea{
    width: 98%;
    height: 40px;
    margin: 10px auto 0;
    position: relative;
}
#addSupplierSubmenu .btnArea .btn-panel{
    position: absolute;
    right: 0px;
}
/*添加供应商结束*/

/*编辑供应商开始*/
#editSupplierSubmenu{
    display: none;
}
#editSupplierSubmenu .contentArea{
    width: 98%;
    height: 370px;
    margin: 10px auto 0;
}
#editSupplierSubmenu .contentArea .imageRow-panel{
    width: 100%;
    height: 140px;
}
#editSupplierSubmenu .contentArea .row-panel{
    width: 100%;
    height: 40px;
    margin-top: 10px;
}
#editSupplierSubmenu .contentArea .row-panel .item-panel{
    width: 50%;
    height: 40px;
    float: left;
}
#editSupplierSubmenu .contentArea .row-panel .item-panel .left-panel{
    width: 30%;
    height: 40px;
    float: left;
    text-align: center;
}
#editSupplierSubmenu .contentArea .row-panel .item-panel .left-panel span{
    line-height: 40px;
}
#editSupplierSubmenu .contentArea .row-panel .item-panel .right-panel{
    width: 70%;
    height: 40px;
    float: left;
}
/*银行卡独立样式*/
#editSupplierSubmenu .contentArea .row-panel .bankNmae-panel{
    width: 15%;
    height: 40px;
    float: left;
    text-align: center;
}
#editSupplierSubmenu .contentArea .row-panel .bankNmae-panel span{
    line-height: 40px;
}
#editSupplierSubmenu .contentArea .row-panel .bankVal-panel{
    width: 35%;
    height: 40px;
    float: left;
}
#editSupplierSubmenu .contentArea .row-panel .bankTip-panel{
    width: 25%;
    height: 40px;
    float: left;
    text-align: center;
}
#editSupplierSubmenu .contentArea .row-panel .bankTip-panel span{
    line-height: 40px;
    color: #5FB878;
    font-weight: 600;
}
/*银行卡独立样式结束*/
#editSupplierSubmenu .contentArea .imageRow-panel .img-panel{
    width: 120px;
    height: 120px;
    margin: 10px auto 0;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
#editSupplierSubmenu .contentArea .imageRow-panel .img-panel .blackMask{
    width: 120px;
    height: 120px;
    position: absolute;
    background: rgba(0,0,0,0.7);
    top: 0px;
    left: 0px;
    text-align: center;
}
#editSupplierSubmenu .contentArea .imageRow-panel .img-panel .blackMask span{
    line-height: 120px;
    color: white;
    font-weight: 500;
}
#editSupplierSubmenu .contentArea .imageRow-panel .img-panel img{
    width: 120px;
    height: 120px;
}

#editSupplierSubmenu .btnArea{
    width: 98%;
    height: 40px;
    margin: 10px auto 0;
    position: relative;
}
#editSupplierSubmenu .btnArea .btn-panel{
    position: absolute;
    right: 0px;
}
/*编辑供应商结束*/

/*基本设置*/
#basicSettings-panel .title-panel {
	min-height: 40px;
}

#basicSettings-panel .title-panel span {
	color: orangered;
	line-height: 40px;
	font-size: 18px;
}

#basicSettings-panel .cardParent-panel {
	min-height: 280px;
}
/*联系我们*/
#contactUs-panel .title-panel {
	min-height: 40px;
}

#contactUs-panel .title-panel span {
	color: orangered;
	line-height: 40px;
	font-size: 18px;
}

#contactUs-panel .mainContent-panel {
	min-height: 310px;
}

#contactUs-panel .mainContent-panel .row-panel {
	width: 100%;
	min-height: 40px;
	margin: 10px auto;
	text-align: center;
}

#contactUs-panel .mainContent-panel .row-panel span {
	line-height: 40px;
	color: #838383;
	font-size: 18px;
}

/*开单管理悬浮层*/
#billingManageSubmenu {
	width: 1220px;
	height: 760px;
	margin: 10px auto 0;
	display: none;
}

#billingManageSubmenu .top-panel {
	width: 100%;
	height: 230px;
}

#billingManageSubmenu .top-panel .row-panel {
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
}

#billingManageSubmenu .top-panel .row-panel .item-panel {
	width: 305px;
	height: 40px;
	float: left;
}

#billingManageSubmenu .top-panel .Remarks-panel {
	width: 100%;
	height: 40px;
}

#billingManageSubmenu .top-panel .Remarks-panel .left-panel {
	width: 50%;
	height: 40px;
	float: left;
}

#billingManageSubmenu .top-panel .Remarks-panel .right-panel {
	width: 50%;
	height: 40px;
	float: left;
}

#billingManageSubmenu .top-panel .Remarks-panel .right-panel .item-panel
	{
	width: 50%;
	height: 40px;
	float: left;
}

#billingManageSubmenu .btn-panel {
	width: 600px;
	height: 45px;
}

#billingManageSubmenu .billingContentPanel {
	width: 99%;
	height: 480px;
	overflow: auto;
}
#orderDetailsList thead tr th{
	text-align: center;
}
#orderDetailsList tbody .title{ /*订单详情表格*/
	background:#E2E2E2;
	text-align: left;
	color:red;
}
#orderDetailsList tbody tr td{
	text-align:center;
	font-size:17px;
	color: black;
}
/*采购登记悬浮层*/
#PurchaseRegistrationSubmenu{
	width:98%;
	height:550px;
	margin: 20px auto 0;
	display:none;
}
#PurchaseRegistrationSubmenu .row-panel{
	width:100%;
	height: 40px;
	margin-bottom: 10px;
	position: relative;
}
#PurchaseRegistrationSubmenu .row-panel .item-panel{
	width: 50%;
	height: 40px;
	float: left;
}
#PurchaseRegistrationSubmenu .row-panel .item-panel .details-panel{
	width: 50%;
	height: 40px;
	float: left;
}
#PurchaseRegistrationSubmenu .btns-panel{
	min-width: 150px;
	height: 40px;
	position: absolute;
	right: 0;
}
#fittingAddSubmenu{
	width:98%;
	height:550px;
	margin: 20px auto 0;
	display:none;
}
#fittingAddSubmenu .row-panel{
	width:100%;
	height: 40px;
	margin-bottom: 10px;
	position: relative;
}
#fittingAddSubmenu .row-panel .item-panel{
	width: 50%;
	height: 40px;
	float: left;
}
#fittingAddSubmenu .row-panel .item-panel .details-panel{
	width: 50%;
	height: 40px;
	float: left;
}
#fittingAddSubmenu .btns-panel{
	min-width: 150px;
	height: 40px;
	position: absolute;
	right: 0;
}
#submenu .table-panel{
    width: 100%;
    height: 470px;
    margin: 0 auto;
}

#submenu .table-panel .title-panel{
    width: 100%;
    height: 50px;
    background: #002933;
}
#submenu .table-panel .title-panel .firstItem{
    width: 5%;
    height: 50px;
    text-align: center;
    float: left;
    cursor: pointer;
}
#submenu .table-panel .title-panel .firstItem span{
    line-height: 50px;
    font-size: 19px;
    color: white;
}
#submenu .table-panel .title-panel .specificationModel{
    width: 25%;
    height: 50px;
    text-align: center;
    float: left;
    cursor: pointer;
}
#submenu .table-panel .title-panel .specificationModel span{
    line-height: 50px;
    font-size: 19px;
    color: white;
}
#submenu .table-panel .title-panel .item-panel{
     width: 10%;
     height: 50px;
    float: left;
    cursor: pointer;
     text-align: center;
 }
#submenu .table-panel .title-panel .item-panel span{
    line-height:50px;
    font-size: 19px;
    color: white;
}
#submenu .table-panel .content-panel{
    width: 100%;
    height:360px;
    overflow-y: auto;
    border-radius:0px;
    box-shadow: none;
    z-index:999;
    margin: 0;
    padding: 0; 
}
#submenu .table-panel .content-panel .row-panel{
    width: 100%;
    height: 40px;
}
#submenu .table-panel .content-panel .row-panel .firstItem{
    width: 5%;
    height: 40px;
    text-align: center;
    float: left;
    cursor: pointer;
}
#submenu .table-panel .content-panel .row-panel span{
    line-height:40px;
    font-size: 18px;
}
#submenu .table-panel .content-panel .row-panel .specificationModel{
    width: 25%;
    height: 40px;
    text-align: center;
    float: left;
    cursor: pointer;
}


#submenu .table-panel .content-panel .row-panel .item-panel{
    width: 10%;
    height: 40px;
    float: left;
    cursor: pointer;
    text-align: center;
}
#submenu .table-panel .content-panel .row-panel .item-panel input{
    text-align: center;
    font-size: 18px;
}

#submenu .table-panel .foot-panel{
    width: 100%;
    height:40px;
    position: relative;
}
#submenu .table-panel .foot-panel .right-panel{
    min-width: 100px;
    position: absolute;
    right: 0px;
}
#submenu .table-panel .foot-panel span{
    line-height: 40px;
    font-size: 20px;
}
#submenu .table-panel .foot-panel .foot_item_value{
    color:red;
    margin-left: 5px;
}
.not_allowed{
    cursor:not-allowed;
}
/*订单详情布局*/
#orderDetailsSubmenu .title-panel{
	width: 100%;
	height: 170px;
}
#orderDetailsSubmenu .title-panel .row-panel{
	width: 100%;
	height: 40px;
	margin-top: 15px;
}
#orderDetailsSubmenu .title-panel .row-panel .item-panel{
	width: 25%;
	height: 40px;
	float: left;
}
#orderDetailsSubmenu .orderTable-panel{
	width: 100%;
	height: 400px;
	overflow: auto;
}
#orderDetailsSubmenu .foot-panel{
	width: 100%;
	height: 40px;
	position: relative;
}
#orderDetailsSubmenu .right-panel{
	min-width:100px;
	position: absolute;
	height:40px;
	right: 10px;
}
#orderDetailsSubmenu .right-panel .val-panel{
	color: #FF5722;
	font-weight: 700;
}
#orderDetailsSubmenu .right-panel span{
	line-height: 40px;
	font-size: 17px;
}
/*配件采购:新增悬浮层[图片]*/
#fittingAddSubmenu .productImage-panel{
	width: 100%;
	min-height: 40px;
	max-height: 300px;
	margin-bottom: 15px;
}
#fittingAddSubmenu .productImage-panel .productImagePanel{
	width: 120px;
	height: 120px;
	background: #009688;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
	cursor: pointer;
	position: relative;
}
#fittingAddSubmenu .productImage-panel .productImagePanel .blackElasticLayer{
	/*黑色弹层*/
	width: 120px;
	height: 120px;
	background: rgba(0,0,0,.6);
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}
#fittingAddSubmenu .productImage-panel .productImagePanel span{
	line-height: 120px;
	color: white;
	font-weight: 600;
	font-size: 15px;
}
#fittingAddSubmenu .productImage-panel .productImagePanel img{
	width: 120px;
	height: 120px;
}
.noInput{
	cursor: not-allowed;
}
/*出货管理[新增]悬浮层*/
#shipmentAddSubmenu{
	width: 98%;
	height: 660px;
	margin: 15px auto 0;
	display: none;

}
#shipmentAddSubmenu .shipmentAddCon-panel{
	width: 100%;
	height: 610px;
}
#shipmentAddSubmenu .shipmentAddCon-panel .row-panel{
	width: 100%;
	height: 40px;
}
#shipmentAddSubmenu .shipmentAddCon-panel .row-panel .item-panel{
	width: 33%;
	float: left;
	height: 40px;
}
#shipmentAddSubmenu .foot-panel{
	width: 100%;
	height: 40px;
	margin: 0 auto;
	position: relative;
}
#shipmentAddSubmenu .foot-panel .btn-panel{
	min-width: 100px;
	height: 40px;
	position: absolute;
	right: 0px;
}
#shipmentAddSubmenu .shipmentAddCon-panel .Rowbtn-panel{
	width: 100%;
	height: 40px;
    margin-top: 10px;
	position: relative;
}
#shipmentAddSubmenu .shipmentAddCon-panel .Rowbtn-panel .btn-panel{
	min-width: 64px;
	height: 40px;
	position: absolute;
	right: 10px;
}
#shipmentAddSubmenu .shipmentAddCon-panel .OrderModel-panel{
	width: 100%;
	height: 320px;
	overflow: auto;
    margin-bottom: 10px;
    position: relative;
}
#OrderModelTableSubmenu{
    width: 100%;
    height: 320px;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 999;
    display: none;
}
#OrderModelTableSubmenu span{
    line-height: 320px;
    font-size: 22px;
    color: white;
    font-weight: 600;
}
 #OrderModelList tbody .title{
	 background: #5FB878;
	 color:white;
	 font-weight: 700;
}
 .rowLineSelectStyle{
	 background: #5FB878;
	 color:white;
 }
#shipmentAddSubmenu .shipmentAddCon-panel .userHasSelectedModel-panel{
	width: 98%;
	height: 210px;
	margin: 0 auto;
	border: solid 2px #E5E5E5;
	overflow: auto;
}
#shipmentAddSubmenu .shipmentAddCon-panel .userHasSelectedModel-panel .item-panel{
	width:32%;
	height: 80px;
	margin-bottom: 1%;
	margin-right: 1%;
	float: left;
	background: #003366;
	text-align: center;
	position: relative;
}
#shipmentAddSubmenu .shipmentAddCon-panel .userHasSelectedModel-panel .specificationDetails-panel .ReadColorClass{
    color: #E37D2B;
    font-weight: 700;
}
#shipmentAddSubmenu .shipmentAddCon-panel .userHasSelectedModel-panel .item-panel span{
	color: white;
}
#shipmentAddSubmenu .shipmentAddCon-panel .userHasSelectedModel-panel .item-panel .specificationTitle-panel{
    width: 100%;
    height: 40px;
}
#shipmentAddSubmenu .shipmentAddCon-panel .userHasSelectedModel-panel .item-panel .specificationTitle-panel span{
    line-height: 40px;
    font-size: 18px;
    font-weight: 600;
}
#shipmentAddSubmenu .shipmentAddCon-panel .userHasSelectedModel-panel .item-panel .close-panel{
	width: 20px;
	height: 20px;
	position: absolute;
	cursor: pointer;
	right: 0px;
	top: 1px;
}
/* 运输负责人 付款明细 运费 弹层输入 */
#invoiceTransport-panel{
    width: 98%;
    height: 240px;
    margin: 0 auto;
    display: none;
}
#invoiceTransport-panel .row-panel{
    width: 100%;
    height: 40px;
    margin-top: 15px;
}
#invoiceTransport-panel .row-panel .itemLeft-panel{
    width: 20%;
    height: 40px;
    float: left;
}
#invoiceTransport-panel .row-panel .itemLeft-panel span{
    margin-left:25px;
    line-height: 40px;
}
#invoiceTransport-panel .row-panel .itemRight-panel{
    width: 80%;
    height: 40px;
    float: left;
}
/*客户信息管理:新增客户悬浮层*/
#addClientSubmenu{
	width: 98%;  /*1060*/
	height: 340px; /*530px*/
	margin: 15px auto 0;
	display: none;
}
#addClientSubmenu .row-panel{
	width: 100%;
	height: 40px;
	margin-top: 15px;
}
#addClientSubmenu .row-panel .item-panel{
	width: 50%;
	height: 40px;
	float: left;
}
#addClientSubmenu .row-panel .item-panel .left-panel{
	width: 18%;
	height: 40px;
	float: left;
	text-align: right;
	margin-right: 2%;
}
#addClientSubmenu .row-panel .item-panel .left-panel span{
	line-height: 40px;
}
#addClientSubmenu .row-panel .item-panel .val-panel{
	width: 80%;
	height: 40px;
	float: left;
}
#addClientSubmenu .foot-panel{
	width: 100%;
	height: 60px;
	text-align: center;
}
#addClientSubmenu .foot-panel span{
	line-height: 60px;
	color: #FF5722;
	font-size: 18px;
	font-weight: 600;
}
/*客户信息管理:编辑悬浮层*/
#editClientSubmenu{
	width: 98%;  /*1060*/
	height: 340px; /*530px*/
	margin: 15px auto 0;
	display: none;
}
#editClientSubmenu .row-panel{
	width: 100%;
	height: 40px;
	margin-top: 15px;
}
#editClientSubmenu .row-panel .item-panel{
	width: 50%;
	height: 40px;
	float: left;
}
#editClientSubmenu .row-panel .item-panel .left-panel{
	width: 18%;
	height: 40px;
	float: left;
	text-align: right;
	margin-right: 2%;
}
#editClientSubmenu .row-panel .item-panel .left-panel span{
	line-height: 40px;
}
#editClientSubmenu .row-panel .item-panel .val-panel{
	width: 80%;
	height: 40px;
	float: left;
}
#editClientSubmenu .foot-panel{
	width: 100%;
	height: 60px;
	text-align: center;
}
#editClientSubmenu .foot-panel span{
	line-height: 60px;
	color: #FF5722;
	font-size: 18px;
	font-weight: 600;
}

/*基础信息[原片信息]新增悬浮层*/
#addProductSubmenu{
	width: 98%;  /*1060*/
	height: 490px; /*530px*/
	margin: 15px auto 0;
	display: none;
}
#addProductSubmenu .remarkRow-panel{
	width: 100%;
	height: 150px;
	margin-top: 15px;
}
#addProductSubmenu .row-panel{
	width: 100%;
	height: 40px;
	margin-top: 15px;
}
#addProductSubmenu .row-panel .item-panel{
	width: 50%;
	height: 40px;
	float: left;
}
#addProductSubmenu .row-panel .item-panel .left-panel{
	width: 18%;
	height: 40px;
	float: left;
	text-align: right;
	margin-right: 2%;
}
#addProductSubmenu .row-panel .item-panel .left-panel span{
	line-height: 40px;
}
#addProductSubmenu .row-panel .item-panel .val-panel{
	width: 80%;
	height: 40px;
	float: left;
}
#addProductSubmenu .foot-panel{
	width: 100%;
	height: 60px;
	text-align: center;
}
#addProductSubmenu .foot-panel span{
	line-height: 60px;
	color: #FF5722;
	font-size: 18px;
	font-weight: 600;
}

/*基础信息[原片信息]编辑悬浮层*/
#editProductSubmenu{
    width: 98%;  /*1060*/
    height: 490px; /*530px*/
    margin: 15px auto 0;
    display: none;
}
#editProductSubmenu .remarkRow-panel{
    width: 100%;
    height: 150px;
    margin-top: 15px;
}
#editProductSubmenu .row-panel{
    width: 100%;
    height: 40px;
    margin-top: 15px;
}
#editProductSubmenu .row-panel .item-panel{
    width: 50%;
    height: 40px;
    float: left;
}
#editProductSubmenu .row-panel .item-panel .left-panel{
    width: 18%;
    height: 40px;
    float: left;
    text-align: right;
    margin-right: 2%;
}
#editProductSubmenu .row-panel .item-panel .left-panel span{
    line-height: 40px;
}
#editProductSubmenu .row-panel .item-panel .val-panel{
    width: 80%;
    height: 40px;
    float: left;
}
#editProductSubmenu .foot-panel{
    width: 100%;
    height: 60px;
    text-align: center;
}
#editProductSubmenu .foot-panel span{
    line-height: 60px;
    color: #FF5722;
    font-size: 18px;
    font-weight: 600;
}
/*基础信息[配件信息]新增悬浮层*/
#addFittingSubmenu{
	width: 98%;
	height: 210px;
	margin: 0 auto;
	display: none;
}
#addFittingSubmenu .imageRow-panel{
	width: 100%;
	height: 140px;
}
#addFittingSubmenu .imageRow-panel .image-panel{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 10px auto 0;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
#addFittingSubmenu .imageRow-panel .image-panel .blackElasticLayer{
    /*黑色弹层*/
    width: 120px;
    height: 120px;
    background: rgba(0,0,0,.6);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}
#addFittingSubmenu .imageRow-panel .image-panel .blackElasticLayer span{
    line-height: 120px;
    color: white;
    font-weight: 600;
    font-size: 15px;
}
#addFittingSubmenu .imageRow-panel .image-panel img{
    width: 120px;
    height: 120px;
}
#addFittingSubmenu .row-panel{
    width: 100%;
    height: 40px;
}
#addFittingSubmenu .row-panel .vessel-panel{
    width: 80%;
    height: 40px;
    margin: 0 auto;
}
/*弹出层按钮颜色*/
.btn-Color .layui-layer-btn a{
	background-color: #003366;
	border: solid 1px #003366;
	color: white;
}
/*标签打印悬浮层*/
#labelPrintingSubmenu .row-panel{
	width: 80%;
	height: 140px;
	margin:15px auto 0;
}
#labelPrintingSubmenu .row-panel .left-panel{
	width: 30%;
	height: 140px;
	float: left;
}
#labelPrintingSubmenu .row-panel .left-panel span{
	line-height: 40px;
	font-size: 18px;
}
#labelPrintingSubmenu .row-panel .right-panel{
	width: 70%;
	height: 140px;
	float: left;
}