<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lk.mappers.EmployeeInfoMapper">
	<!--定义结果集:用于存储所有数据 -->
	<resultMap type="EmployeeInfo" id="EmployeeInfoResult">
		<id property="id" column="id" />
		<result property="nameOfWorker" column="nameOfWorker" />
		<result property="phoneNumber" column="phoneNumber" />
		<result property="jobNumber" column="jobNumber" />
		<result property="department" column="department" />
		<result property="position" column="position" />
		<result property="dateOfBirth" column="dateOfBirth" />
		<result property="dateOfEntry" column="dateOfEntry" />
		<result property="remarks" column="remarks" />
		<result property="operator" column="operator" />
		<result property="addTime" column="addTime" />
		<result property="basicWage" column="basicWage" />
	</resultMap>
	<!-- 分页查询数据开始: -->
	<select id="findexpenditurePage" resultMap="EmployeeInfoResult"
		parameterType="EmployeeInfo">
		SELECT
		id,
		nameOfWorker,
		phoneNumber,
		jobNumber,
		department,
		position,
		dateOfBirth,
		dateOfEntry,
		remarks,
		basicWage,
		operator,
		addTime
		FROM t_employee_Info
		<where>
			<if test="operator != null">
				operator = #{operator}
			</if>
		</where>
	</select>
	<!-- 根据特定条件查询表内数据 -->
	<select id="conditionalQuery" resultMap="EmployeeInfoResult"
		parameterType="EmployeeInfo">
		SELECT
		id,
		nameOfWorker,
		phoneNumber,
		jobNumber,
		department,
		position,
		dateOfBirth,
		dateOfEntry,
		remarks,
		operator,
		basicWage,
		addTime
		FROM t_employee_Info
		<where>
			<if test="department != null">
				department = #{department}
			</if>
			<if test="nameOfWorker != null">
				AND nameOfWorker like #{nameOfWorker}
			</if>
			<if test="jobNumber != null">
				AND jobNumber like #{jobNumber}
			</if>
			<if test="operator != null">
				AND operator like #{operator}
			</if>
		</where>
	</select>
	<!-- 自定义查询 -->
	<select id="customQuery" resultMap="EmployeeInfoResult"
		parameterType="EmployeeInfo">
		SELECT id, 
		<foreach item="queryTypeItem" collection="queryType" open=""
			separator="," close="">
			${queryTypeItem}
		</foreach>
		FROM t_employee_Info
		<where>
			<if test="operator != null">
				operator = #{operator}
			</if>
			<if test="jobNumber != null">
				AND jobNumber like #{jobNumber}  
			</if>
		</where>
	</select>
	<!-- 批量删除 -->
	<delete id="del" parameterType="EmployeeInfo">
		delete from t_employee_Info where (id) in
		<foreach item="idsItem" collection="ids" open="(" separator=","
			close=")">
			#{idsItem}
		</foreach>
	</delete>
	<!-- 新增数据开始 -->
	<insert id="add" parameterType="EmployeeInfo">
		insert into t_employee_Info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="nameOfWorker != null">
				nameOfWorker,
			</if>
			<if test="phoneNumber != null">
				phoneNumber,
			</if>
			<if test="jobNumber != null">
				jobNumber,
			</if>
			<if test="department != null">
				department,
			</if>
			<if test="position != null">
				position,
			</if>
			<if test="dateOfBirth != null">
				dateOfBirth,
			</if>
			<if test=" dateOfEntry != null">
				dateOfEntry,
			</if>
			<if test=" remarks != null">
				remarks,
			</if>
			<if test=" operator != null">
				operator,
			</if>
			<if test=" addTime != null">
				addTime,
			</if>
			<if test=" basicWage != null">
				basicWage,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="nameOfWorker != null">
				#{nameOfWorker,jdbcType=VARCHAR},
			</if>
			<if test="phoneNumber != null">
				#{phoneNumber,jdbcType=VARCHAR},
			</if>
			<if test="jobNumber != null">
				#{jobNumber,jdbcType=VARCHAR},
			</if>
			<if test="department != null">
				#{department,jdbcType=VARCHAR},
			</if>
			<if test="position != null">
				#{position,jdbcType=VARCHAR},
			</if>
			<if test="dateOfBirth != null">
				#{dateOfBirth,jdbcType=VARCHAR},
			</if>
			<if test="dateOfEntry != null">
				#{dateOfEntry,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
			<if test=" operator != null">
				#{operator,jdbcType=VARCHAR},
			</if>
			<if test=" addTime != null">
				#{addTime,jdbcType=VARCHAR},
			</if>
			<if test=" basicWage != null">
				#{basicWage,jdbcType=DOUBLE},
			</if>
		</trim>
	</insert>
	<!-- 修改信息 -->
	<update id="update" parameterType="SalaryInfo">
		update t_employee_Info
		<trim prefix="SET" suffixOverrides=",">
			<if test="nameOfWorker != null">
				nameOfWorker = #{nameOfWorker},
			</if>
			<if test="phoneNumber != null">
				phoneNumber = #{phoneNumber},
			</if>
			<if test="jobNumber != null">
				jobNumber = #{jobNumber},
			</if>
			<if test="department != null">
				department = #{department},
			</if>
			<if test="position != null">
				position = #{position},
			</if>
			<if test=" dateOfBirth != null">
				dateOfBirth = #{dateOfBirth},
			</if>
			<if test=" dateOfEntry != null">
				dateOfEntry =#{dateOfEntry},
			</if>
			<if test=" remarks != null">
				remarks = #{remarks},
			</if>
			<if test=" basicWage != null">
				basicWage = #{basicWage},
			</if>
		</trim>
		<where>
			<if test="id != null">
				id = #{id}
			</if>
			<if test="operator != null">
				AND operator like #{operator}
			</if>
		</where>
	</update>
</mapper>