<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lk.mappers.InventoryInfoMapper">
	<!--定义结果集:用于存储所有数据 -->
	<resultMap type="InventoryInfo" id="InventoryInfoResult">
		<id property="id" column="id" />
		<result property="originalTitle" column="originalTitle" />
		<result property="originalColor" column="originalColor" />
		<result property="originalThickness" column="originalThickness" />
		<result property="storageNum" column="storageNum" />
		<result property="numberOfOutbound" column="numberOfOutbound" />
		<result property="stockBalance" column="stockBalance" />
		<result property="stockArea" column="stockArea" />
		<result property="addTime" column="addTime" />
		<result property="supplier" column="supplier" />
		<result property="operator" column="operator" />
	</resultMap>
	<!-- 自定义查询表内数据 -->
	<select id="customQuery" resultMap="InventoryInfoResult"
		parameterType="InventoryInfo">
		SELECT id,
		<foreach item="queryTypeItem" collection="queryType" open=""
			separator="," close="">
			${queryTypeItem}
		</foreach>
		FROM t_inventoryInfo
		<where>
			<if test="operator != null">
				operator = #{operator}
			</if>
		</where>
	</select>
	<!-- 分页查询数据开始-->
	<select id="findexpenditurePage" resultMap="InventoryInfoResult"
		parameterType="InventoryInfo">
		SELECT
		id,
		originalTitle,
		originalColor,
		originalThickness,
		storageNum,
		numberOfOutbound,
		stockBalance,
		stockArea,
		addTime,
		supplier,
		operator
		FROM
		t_inventoryInfo
		<where>
			<if test="operator != null">
				operator = #{operator}
			</if>
		</where>
	</select>
	<!-- 根据特定条件查询表内数据 -->
	<select id="conditionalQuery" resultMap="InventoryInfoResult"
		parameterType="InventoryInfo">
		SELECT
		id,
		originalTitle,
		originalColor,
		originalThickness,
		storageNum,
		numberOfOutbound,
		stockBalance,
		stockArea,
		addTime,
		supplier,
		operator
		FROM
		t_inventoryInfo
		<where>
			<if test="originalTitle != null">
				originalTitle = #{originalTitle}
			</if>
			<if test="operator != null">
				AND operator like #{operator}
			</if>
		</where>
	</select>
	<!-- 批量删除 -->
	<delete id="del" parameterType="InventoryInfo">
		delete from t_inventoryInfo where (id) in
		<foreach item="idsItem" collection="ids" open="(" separator=","
			close=")">
			#{idsItem}
		</foreach>
	</delete>
	<!-- 新增数据开始 -->
	<insert id="add" parameterType="InventoryInfo">
		insert into t_inventoryInfo
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="originalTitle != null">
				originalTitle,
			</if>
			<if test="originalColor != null">
				originalColor,
			</if>
			<if test="originalThickness != null">
				originalThickness,
			</if>
			<if test="storageNum != null">
				storageNum,
			</if>
			<if test="numberOfOutbound != null">
				numberOfOutbound,
			</if>
			<if test="stockBalance != null">
				stockBalance,
			</if>
			<if test=" stockArea != null">
				stockArea,
			</if>
			<if test=" addTime != null">
				addTime,
			</if>
			<if test=" supplier != null">
				supplier,
			</if>
			<if test=" operator != null">
				operator
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="originalTitle != null">
				#{originalTitle,jdbcType=VARCHAR},
			</if>
			<if test="originalColor != null">
				#{originalColor,jdbcType=VARCHAR},
			</if>
			<if test="originalThickness != null">
				#{originalThickness,jdbcType=VARCHAR},
			</if>
			<if test="storageNum != null">
				#{storageNum,jdbcType=INTEGER},
			</if>
			<if test="numberOfOutbound != null">
				#{numberOfOutbound,jdbcType=INTEGER},
			</if>
			<if test="stockBalance != null">
				#{stockBalance,jdbcType=INTEGER},
			</if>
			<if test="stockArea != null">
				#{stockArea,jdbcType=DOUBLE},
			</if>
			<if test=" addTime != null">
				#{addTime,jdbcType=VARCHAR},
			</if>
			<if test=" supplier != null">
				#{supplier,jdbcType=VARCHAR},
			</if>
			<if test=" operator != null">
				#{operator,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<!-- 修改信息 -->
	<update id="update" parameterType="InventoryInfo">
		update t_inventoryInfo
		<trim prefix="SET" suffixOverrides=",">
			<if test="originalTitle != null">
				originalTitle = #{originalTitle},
			</if>
			<if test="originalColor != null">
				originalColor = #{originalColor},
			</if>
			<if test="originalThickness != null">
				originalThickness = #{originalThickness},
			</if>
			<if test="storageNum != null">
				storageNum = #{storageNum},
			</if>
			<if test="numberOfOutbound != null">
				numberOfOutbound = #{numberOfOutbound},
			</if>
			<if test=" stockBalance != null">
				stockBalance = #{stockBalance},
			</if>
			<if test=" stockArea != null">
				stockArea =#{stockArea},
			</if>
		</trim>
		<where>
			<if test="id != null">
				id = #{id}
			</if>
			<if test="operator != null">
				AND operator like #{operator}
			</if>
		</where>
	</update>
</mapper>