<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lk.mappers.ProductNumeInfoMapper">
	<!--定义结果集:用于存储所有数据 -->
	<resultMap type="ProductListInfo" id="ProductListInfoResult">
		<id property="id" column="id" />
		<result property="productName" column="productName" />
		<result property="color" column="color" />
		<result property="unitPrice" column="unitPrice" />
		<result property="length" column="length" />
		<result property="width" column="width" />
		<result property="area" column="area" />
		<result property="wholesalePrice" column="wholesalePrice" />
		<result property="remarks" column="remarks" />
		<result property="addTime" column="addTime" />
		<result property="operator" column="operator" />
	</resultMap>
	<!-- 自定义字段查询 -->
	<select id="customQuery" resultMap="ProductListInfoResult">
		SELECT id,
		<foreach item="queryTypeItem" collection="queryType" open=""
			separator="," close="">
			${queryTypeItem}
		</foreach>
		FROM t_product_name_Info
		<where>
			<if test="operator != null">
				operator = #{operator}
			</if>
			<if test="productName != null">
				AND productName like #{productName}
			</if>
		</where>
	</select>
	<!-- 分页查询 -->
	<select id="findexpenditurePage" resultMap="ProductListInfoResult"
		parameterType="ProductListInfo">
		SELECT
		id,
		productName,
		width,
		color,
		length,
		unitPrice,
		area,
		wholesalePrice,
		remarks,
		addTime,
		operator
		FROM t_product_name_Info
		<where>
			<if test="operator != null">
				operator = #{operator}
			</if>
		</where>
	</select>
	<!-- 根据特定条件查询表内数据 -->
	<select id="conditionalQuery" resultMap="ProductListInfoResult"
		parameterType="ProductListInfo">
		SELECT
		id,
		productName,
		width,
		color,
		length,
		unitPrice,
		area,
		wholesalePrice,
		remarks,
		addTime,
		operator
		FROM t_product_name_Info
		<where>
			<if test="operator != null">
				operator = #{operator}
			</if>
			<if test="productName != null">
				AND productName like #{productName}
			</if>
			<if test="dStart != null and dStart != ''">
				AND joinTime <![CDATA[>=]]>
				#{dStart}
			</if>
			<if test="dEnd != null and dEnd != ''">
				AND joinTime <![CDATA[<=]]>#{dEnd}
			</if>
		</where>
	</select>
	<!-- 批量删除 -->
	<delete id="del" parameterType="ProductListInfo">
		delete from t_product_name_Info where (id) in
		<foreach item="idsItem" collection="ids" open="(" separator=","
			close=")">
			#{idsItem}
		</foreach>
	</delete>
	<!-- 新增数据开始 -->
	<insert id="add" parameterType="ProductListInfo">
		insert into t_product_name_Info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="productName != null">
				productName,
			</if>
			<if test="color != null">
				color,
			</if>
	
			<if test="unitPrice != null">
				unitPrice,
			</if>
			<if test="wholesalePrice != null">
				wholesalePrice,
			</if>
			<if test="length != null">
				length,
			</if>
			<if test=" width != null">
				width,
			</if>
			<if test=" area != null">
				area,
			</if>
			<if test=" remarks != null">
				remarks,
			</if>
			<if test="addTime != null">
				addTime,
			</if>
			<if test="operator != null">
				operator,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="productName != null">
				#{productName,jdbcType=VARCHAR},
			</if>
			<if test="color != null">
				#{color,jdbcType=VARCHAR},
			</if>

			<if test="unitPrice != null">
				#{unitPrice,jdbcType=DOUBLE},
			</if>
			<if test="wholesalePrice != null">
				#{wholesalePrice,jdbcType=DOUBLE},
			</if>
			<if test="length != null">
				#{length,jdbcType=INTEGER},
			</if>
			<if test="width != null">
				#{width,jdbcType=INTEGER},
			</if>
			<if test="area != null">
				#{area,jdbcType=DOUBLE},
			</if>
			<if test=" remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=VARCHAR},
			</if>
			<if test="operator != null">
				#{operator,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<!-- 修改表内信息 -->
	<update id="update" parameterType="ProductListInfo">
		update t_product_name_Info
		<trim prefix="SET" suffixOverrides=",">
			<if test="productName != null">
				productName = #{productName},
			</if>
			<if test="color != null">
				color = #{color},
			</if>
			<if test="unitPrice != null">
				unitPrice = #{unitPrice},
			</if>
			<if test="wholesalePrice != null">
				wholesalePrice = #{wholesalePrice},
			</if>
			<if test=" length != null">
				length = #{length},
			</if>
			<if test=" width != null">
				width =#{width},
			</if>
			<if test=" area != null">
				area = #{area},
			</if>
			<if test=" remarks != null">
				remarks = #{remarks},
			</if>
		</trim>
		<where>
			<if test="id != null">
				id = #{id}
			</if>
			<if test="operator != null">
				AND operator like #{operator}
			</if>
		</where>
	</update>
</mapper> 
