<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lk.mappers.PurchaseMapper">
	<!--定义结果集:用于存储所有数据 -->
	<resultMap type="PurchaseInfo" id="PurchaseInfoResult">
		<id property="id" column="id" />
		<result property="orderNumber" column="orderNumber" />
		<result property="purchaseDate" column="purchaseDate" />
		<result property="supplier" column="supplier" />
		<result property="specificationModel" column="specificationModel" />
		<result property="thickness" column="thickness" />
		<result property="color" column="color" />
		<result property="quantity" column="quantity" />
		<result property="unitPrice" column="unitPrice" />
		<result property="totalPurchase" column="TotalPurchase" />
		<result property="ShippingFee" column="ShippingFee" />
		<result property="remarks" column="remarks" />
		<result property="operator" column="operator" />
	</resultMap>
	<!-- 分页查询数据开始: -->
	<select id="findexpenditurePage" resultMap="PurchaseInfoResult"
		parameterType="PurchaseInfo">
		SELECT
		id,orderNumber,purchaseDate,supplier,specificationModel,thickness,color,quantity,unitPrice,totalPurchase,shippingFee,remarks,operator
		FROM t_purchaseInfo
		<where>
			<if test="operator != null">
				operator = #{operator}
			</if>
		</where>
	</select>
	<!-- 根据特定条件查询表内数据 -->
	<select id="conditionalQuery" resultMap="PurchaseInfoResult"
		parameterType="PurchaseInfo">
		SELECT
		id,orderNumber,purchaseDate,supplier,specificationModel,thickness,color,quantity,unitPrice,totalPurchase,shippingFee,remarks,operator
		FROM t_purchaseInfo
		<where>
			<if test="operator != null">
				operator = #{operator}
			</if>
			<if test="orderNumber != null">
				AND orderNumber like #{orderNumber}
			</if>
			<if test="supplier != null">
				AND supplier like #{supplier}
			</if>
			<if test="remarks != null">
				AND remarks like #{remarks}
			</if>
			<if test="dStart != null and dStart != ''">
				AND purchaseDate <![CDATA[>=]]>
				#{dStart}
			</if>
			<if test="dEnd != null and dEnd != ''">
				AND purchaseDate <![CDATA[<=]]>#{dEnd}
			</if>
		</where>
	</select>
	<!-- 批量删除 -->
	<delete id="del" parameterType="PurchaseInfo">
		delete from t_purchaseInfo where (orderNumber) in
		<foreach item="orderItem" collection="orders" open="("
			separator="," close=")">
			#{orderItem}
		</foreach>
	</delete>
	
	<!-- 自定义查询表内数据 -->
	<select id="customQuery" resultMap="PurchaseInfoResult"
		parameterType="PurchaseInfo">
		SELECT id,
		<foreach item="queryTypeItem" collection="queryType" open=""
			separator="," close="">
			${queryTypeItem}
		</foreach>
		FROM t_order_Info
		<where>
			<if test="operator != null">
				operator = #{operator}
			</if>
		</where>
	</select>
	
	<!-- 根据订单号查询表内数据 -->
		<select id="queryByOrderNumber" resultMap="PurchaseInfoResult"
		parameterType="PurchaseInfo">
		SELECT
		id,orderNumber,purchaseDate,supplier,specificationModel,thickness,color,quantity,unitPrice,totalPurchase,shippingFee,remarks,operator
		FROM t_purchaseInfo
		<where>
			<if test="operator != null">
				operator = #{operator}
			</if>
			<if test="orderNumber != null">
				AND orderNumber like #{orderNumber}
			</if>
		</where>
	</select>
	<!-- 新增数据开始 -->
	<insert id="add" parameterType="PurchaseInfo">
		insert into t_purchaseInfo
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="orderNumber != null">
				orderNumber,
			</if>
			<if test="purchaseDate != null">
				purchaseDate,
			</if>
			<if test="supplier != null">
				supplier,
			</if>
			<if test="specificationModel != null">
				specificationModel,
			</if>
			<if test="thickness != null">
				thickness,
			</if>
			<if test="color != null">
				color,
			</if>
			<if test=" quantity != null">
				quantity,
			</if>
			<if test=" unitPrice != null">
				unitPrice,
			</if>
			<if test=" totalPurchase != null">
				totalPurchase,
			</if>
			<if test=" shippingFee != null">
				shippingFee,
			</if>
			<if test=" remarks != null">
				remarks,
			</if>
			<if test="operator != null">
				operator,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="orderNumber != null">
				#{orderNumber,jdbcType=VARCHAR},
			</if>
			<if test="purchaseDate != null">
				#{purchaseDate,jdbcType=VARCHAR},
			</if>
			<if test="supplier != null">
				#{supplier,jdbcType=VARCHAR},
			</if>
			<if test="specificationModel != null">
				#{specificationModel,jdbcType=VARCHAR},
			</if>
			<if test="thickness != null">
				#{thickness,jdbcType=VARCHAR},
			</if>
			<if test="color != null">
				#{color,jdbcType=VARCHAR},
			</if>
			<if test="quantity != null">
				#{quantity,jdbcType=VARCHAR},
			</if>
			<if test="unitPrice != null">
				#{unitPrice,jdbcType=VARCHAR},
			</if>
			<if test=" totalPurchase != null">
				#{totalPurchase,jdbcType=VARCHAR},
			</if>
			<if test="shippingFee != null">
				#{shippingFee,jdbcType=VARCHAR},
			</if>
			<if test=" remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
			<if test="operator != null">
				#{operator,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
</mapper> 

