<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lk.mappers.UserMapper">
	<!--定义结果集:用于存储所有数据 -->
	<resultMap type="User" id="UserResult">
		<id property="id" column="id" />
		<result property="userName" column="userName" />
		<result property="passWord" column="passWord" />
		<result property="cellPhone" column="cellPhone" />
		<result property="filePath" column="filePath" />
		<result property="version" column="version" />
		<result property="RegistrationTime" column="RegistrationTime" />
		<result property="sysUseAuthority" column="sysUseAuthority" />
		<result property="morningOffHours" column="morningOffHours" />
		<result property="afternoonWorkTime" column="afternoonWorkTime" />
		<result property="twoCommutes" column="twoCommutes" />
		<result property="punchAfterWorkStatus" column="punchAfterWorkStatus" />
		<result property="phoneModel" column="phoneModel" />
		<result property="mobilePhoneSerialNumber" column="mobilePhoneSerialNumber" />
		<result property="companyName" column="companyName" />
		<result property="userID" column="userID" />
		<result property="bearingInformation" column="bearingInformation" />
		<result property="punchRange" column="punchRange" />
		<result property="companyID" column="companyID" />
		<result property="messageRequest" column="messageRequest" />
	</resultMap>
	<!-- 添加 -->
	<insert id="add" parameterType="User">
		insert into t_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userName != null">
				userName,
			</if>
			<if test="passWord != null">
				passWord,
			</if>
			<if test="cellPhone != null">
				cellPhone,
			</if>
			<if test="filePath != null">
				filePath,
			</if>
			<if test="RegistrationTime != null">
				RegistrationTime,
			</if>
			<if test="sysUseAuthority != null">
				sysUseAuthority,
			</if>
			<if test="userID != null">
				userID,
			</if>
			<if test="companyID != null">
				companyID,
			</if>
			<if test="messageRequest != null">
				messageRequest,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="passWord != null">
				#{passWord,jdbcType=VARCHAR},
			</if>
			<if test="cellPhone != null">
				#{cellPhone,jdbcType=VARCHAR},
			</if>
			<if test="filePath != null">
				#{filePath,jdbcType=VARCHAR},
			</if>
			<if test="RegistrationTime != null">
				#{RegistrationTime,jdbcType=VARCHAR},
			</if>
			<if test="sysUseAuthority != null">
				#{sysUseAuthority,jdbcType=VARCHAR},
			</if>
			<if test="userID != null">
				#{userID,jdbcType=INTEGER},
			</if>
			<if test="companyID != null">
				#{companyID,jdbcType=INTEGER},
			</if>
			<if test="messageRequest != null">
				#{messageRequest,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<!-- 更新 -->
	<update id="update" parameterType="User">
		update t_user set
		userName=#{userName},avatar=#{avatar},picUrl =#{picUrl} where
		userName=#{nowUser}
	</update>
	<!-- 更新公司考勤信息 -->
	<update id="updateAttendanceInfo" parameterType="User">
		update t_user
		<trim prefix="SET" suffixOverrides=",">
		<if test="completionScope != null">
				completionScope = #{completionScope},
			</if>
			<if test="lateArrivalRange != null">
				lateArrivalRange = #{lateArrivalRange},
			</if>
			<if test="holidayStatus != null">
				holidayStatus = #{holidayStatus},
			</if>
			<if test="workingHours != null">
				workingHours = #{workingHours},
			</if>
			<if test="afterGetOffWorkTime != null">
				afterGetOffWorkTime = #{afterGetOffWorkTime},
			</if>
			<if test="attendanceDate != null">
				attendanceDate = #{attendanceDate},
			</if>
			<if test="officeWifi != null">
				officeWifi = #{officeWifi},
			</if>
			<if test="officeLocation != null">
				officeLocation = #{officeLocation},
			</if>
			<if test="fieldCard != null">
				fieldCard = #{fieldCard},
			</if>
			<if test="morningOffHours != null">
				morningOffHours = #{morningOffHours},
			</if>
			<if test="afternoonWorkTime != null">
				afternoonWorkTime = #{afternoonWorkTime},
			</if>
			<if test="twoCommutes != null">
				twoCommutes = #{twoCommutes},
			</if>
			<if test="punchAfterWorkStatus != null">
				punchAfterWorkStatus = #{punchAfterWorkStatus},
			</if>
			<if test="mobilePhoneManufacturer != null">
				mobilePhoneManufacturer = #{mobilePhoneManufacturer},
			</if>
			<if test="phoneModel != null">
				phoneModel = #{phoneModel},
			</if>
			<if test="mobilePhoneSerialNumber != null">
				mobilePhoneSerialNumber = #{mobilePhoneSerialNumber},
			</if>
			<if test="bearingInformation != null">
				bearingInformation = #{bearingInformation},
			</if>
			<if test="punchRange != null">
				punchRange = #{punchRange},
			</if>
			<if test="messageRequest != null">
				messageRequest = #{messageRequest},
			</if>
		</trim>
		<where>
			<if test="id != null">
				id = #{id}
			</if>
			<if test="userName != null">
				AND userName like #{userName}
			</if>
			<if test="companyID != null">
				AND companyID like #{companyID}
			</if>
		</where>
	</update>
	<!-- 自定义查询 -->
	<select id="customQuery" resultMap="UserResult"
		parameterType="User">
		SELECT id, 
		<foreach item="queryTypeItem" collection="queryType" open=""
			separator="," close="">
			${queryTypeItem}
		</foreach>
		FROM t_user 
		<where>
			<if test="userName != null">
				userName = #{userName}
			</if>
			<if test="companyName != null">
				AND companyName like #{companyName}
			</if>
			<if test="id != null">
				AND id like #{id}
			</if>
		</where>
	</select>
	<!-- 删除 -->
	<delete id="delete" parameterType="User">
		delete from t_user where id =
		#{id}
	</delete>
	<!-- 通过手机号查询 -->
	<select id="findCellphoneByUser" parameterType="User" resultType="User">
		select *
		from t_user where cellPhone = #{cellPhone}
	</select>
	<!-- 通过姓名查询 -->
	<select id="findByName" parameterType="User" resultType="User">
		select *
		from t_user where userName = #{userName}
	</select>
	<!-- 查询所有 -->
	<select id="find" resultMap="UserResult">
		select * from t_user
	</select>
</mapper> 
