<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>登录</title>
    <script src="jquery/jquery-3.3.1.min.js"></script>
    <script src="vue/vue.min.js"></script>
    <script type="text/javascript" src="layer/layer.js"></script>
    <script src="layui/layui.js"></script>
    <link rel="stylesheet" href="layui/css/layui.css">
    <script src="less/js/less.min.js"></script>
    <script src="js/LkCommon.js"></script>
    <link rel="stylesheet/less" href="less/css/login.less">
    <link rel="stylesheet" href="css/login.css">
    <script src="js/Login.js"></script>
<link rel="icon"
	type="image/x-icon"
	href="img/logo.ico" />
</head>
<div class="dowebok" id="login-panel">
    <div class="logo"></div>
    <div class="form-item">
        <div class="img-panel">
            <i class="layui-icon layui-icon-username" style="font-size: 30px; color: white;"></i>
        </div>
        <input maxlength="10" v-model="userName" type="text" autocomplete="off" placeholder="用户名">
        <p class="tip" v-if="showUserErr">{{userTipVal}}</p>
    </div>
    <div class="form-item">
        <div class="img-panel">
            <i class="layui-icon layui-icon-password" style="font-size: 30px; color: white;"></i>
        </div>
        <input maxlength="14" v-model="passWord" type="password" autocomplete="off" placeholder="登录密码">
        <p class="tip" v-if="showPsddErr">{{psddTipVal}}</p>
    </div>
    <div class="form-item"><button @click="loginFun" v-bind:style="{background:BtnBg,color:btnColor}">登 录</button></div>
    <div class="reg-bar">
        <a class="reg" href="javascript:">立即注册</a>
        <a class="forget" href="javascript:">忘记密码</a>
    </div>
</div>
<body>
</body>
</html>
